%h4= @site.name

.card-group
  - @site_checks.each do |site|
    .col-sm-2
      .card
        .card-block
          %h6.card-title= site.name
        .card-block
          %h6.card-title Last 24 hours
          .card-uptime
            = "#{site.uptime} %"
            %small Uptime
          .card-load-time
            = "#{site.load_time} ms"
            %small Load time

.card-group
  .card
    .card-block
      .card-title
        %h4 Latest Checks
      %table.table.table-stripped.table-bordered
        %thead
          %tr
            %th Status
            %th When
            %th Where
            %th Type
            %th Code
            %th Time ms
            %th Location
            %th Response
        %tbody
          - @site.last_site_check_results.each do |site_check_result|
            %tr
              %td= status_badge(site_check_result.http_response)
              %td= site_check_result.created_at
              %td= site_check_result.site_check.target_url
              %td= site_check_result.site_check.check_type
              %td= site_check_result.response_code
              %td= site_check_result.response_time
              %td= site_check_result.check_location_name
              %td= link_to 'Details', '#' #TODO(Site Check Result show)
    .card-footer
      = link_to 'Historical', org_site_path(current_org, @site)
%hr
.card-group
  .card
    .card-block
      .card-title
        %h5 Site Checks
      %table.table.table-stripped.table-bordered
        %thead
          %tr
            %th Name
            %th Target
            %th Check Type
            %th Check Rate(Seconds)
        %tbody
          - @site.site_checks.each do |sc|
            %tr
              %td= sc.name
              %td= sc.target_url
              %td= sc.check_type
              %td= sc.check_rate

%hr

= link_to 'Edit', edit_org_site_path(current_org, @site), class: 'btn btn-primary'