!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/

    %title MagMonitor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    = javascript_include_tag 'application'
  %body{class: "#{controller_name} #{action_name}", data: { controller: controller_name.titleize, action: action_name } }
    %nav#mainNav.navbar.static-top.navbar-toggleable-md.navbar-inverse.bg-inverse
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarExample", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarExample", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "#"} Magmonitor
      #navbarExample.collapse.navbar-collapse
        %ul.sidebar-nav.navbar-nav
          - if user_signed_in?
            %li.nav-item.active
              = link_to(org_sites_path(current_org), class: 'nav-link') do
                %i.fa.fa-fw.fa-dashboard
                Sites 
          %li.nav-item
            = render 'shared/invites'
            %a.nav-link{:href => "#"}
              %i.fa.fa-fw.fa-area-chart
              Charts
          %li.nav-item
            %a.nav-link{:href => "#"}
              %i.fa.fa-fw.fa-table
              Tables
          %li.nav-item
            %a.nav-link.nav-link-collapse.collapsed{"data-toggle" => "collapse", :href => "#collapseComponents"}
              %i.fa.fa-fw.fa-wrench
              Sites
            %ul#collapseComponents.sidebar-second-level.collapse
              %li
                %a{:href => "#"} Fixed Navigation
              %li
                %a{:href => "#"} Custom Card Examples
              %li
                %a{:href => "#"} Blank Page
              %li
                %a{:href => "#"} Login Page
          %li.nav-item
            %a.nav-link.nav-link-collapse.collapsed{"data-toggle" => "collapse", :href => "#collapseMulti"}
              %i.fa.fa-fw.fa-sitemap
              Menu Levels
            %ul#collapseMulti.sidebar-second-level.collapse
              %li
                %a{:href => "#"} Second Level Item
              %li
                %a{:href => "#"} Second Level Item
              %li
                %a.nav-link-collapse.collapsed{"data-toggle" => "collapse", :href => "#collapseMulti2"} Third Level
                %ul#collapseMulti2.sidebar-third-level.collapse
                  %li
                    %a{:href => "#"} Third Level Item
                  %li
                    %a{:href => "#"} Third Level Item
        %ul.navbar-nav.ml-auto
          = render 'shared/organizations_dropdown'
          - if user_signed_in?
            %li.nav-item
              = link_to(destroy_user_session_path, class: 'nav-link') do
                %i.fa.fa-fw.fa-sign-out
                Logout
    .content-wrapper.py-3
      .container-fluid
        %h4 Magmonitor, yet another monitoring tool.
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to 'Sites', root_path
          %li.breadcrumb-item.active My Dashboard
        .container-fluid
          .row
            %main.col-sm-11.offset-sm-1.col-md-9.offset-md-1.pt-3
              = render 'shared/errors'
              = yield
    %a.scroll-to-top.rounded{:href => "#page-top"}
      %i.fa.fa-chevron-up
