!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}/

    %title MagMonitor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
  %body{class: "#{controller_name} #{action_name}", data: { controller: controller_name.titleize, action: action_name } }
    %nav#mainNav.navbar.static-top.navbar-toggleable-md.navbar-inverse.bg-inverse
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarExample", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarExample", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "#"} Magmonitor
      #navbarExample.collapse.navbar-collapse
        %ul.sidebar-nav.navbar-nav
          - if user_signed_in? && current_user.fully_registered?
            %li.nav-item.active
              = link_to(org_sites_path(current_org), class: 'nav-link') do
                %i.fa.fa-fw.fa-dashboard
                Sites 
          %li.nav-item
            = render 'shared/invites'
        %ul.navbar-nav.ml-auto
          = render 'shared/organizations_dropdown'
          - if user_signed_in?
            %li.nav-item
              = link_to(destroy_user_session_path, class: 'nav-link') do
                %i.fa.fa-fw.fa-sign-out
                Logout
    .content-wrapper.py-3
      .container-fluid
        %h4 Magmonitor, yet another monitoring tool.
        %ol.breadcrumb
          %li.breadcrumb-item
            = link_to 'Sites', root_path
          %li.breadcrumb-item.active My Dashboard
        .container-fluid
          .row
            %main.container
              = render 'shared/errors'
              = yield
    %a.scroll-to-top.rounded{:href => "#page-top"}
      %i.fa.fa-chevron-up
