!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title MagMonitor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.nav-bar
      Magmonitor, check site status.
    .container-fluid
      .row
        %main.col-sm-11.offset-sm-1.col-md-9.offset-md-1.pt-3
          = render 'shared/errors'
        = yield
